.page_title {
  display: block !important;
  text-align: center !important;
  font-size: 28px !important;
  margin-top: 10px;
  text-transform: capitalize;
}
.app_form {
  width: 500px;
  margin: auto;
}
